// Place all the styles related to the public/relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.relationship-follower,
.relationship-following {
  margin: 0 auto;
  padding: 20px 0;
  width: 85%;
  background-color: #00000040;
  border-radius: 10px;
  font-size: 20px;

  .relationship-follower-name,
  .relationship-following-name {
    padding: 20px 0 0 50px;
    color: #fff;
  }

  .relationship-content,
  .relationship-content:hover {
    font-size: 25px;
    color: #000;
    text-decoration: none;

    .relationship-content-image {
      width: 100%;
      border-radius: 50%;
    }
  }
}