<div class="row mx-0">
	<% if user.is_active == true %>
		<div class="col-md-3 p-4" style="text-align: center;">
			<%= link_to user_path(user.name), class: "relationship-content" do %>
				<%= attachment_image_tag user, :image, class: "relationship-content-image", format: 'jpeg', fallback: 'no-user-image.png' %>
				<br>
				<%= user.name %>
			<% end %>
		</div>
	<% end %>
</div>