<div class="container">

  <div class="relationship-follower">
    <h2 class="relationship-follower-name"><%= @user.name %>'s followers</h2>

    <%= render partial: "list", collection: @users, as: :user %>

  </div>
</div>