<div class="container">

  <div class="about">

    <h1 class="about-name">
      ナニミルへようこそ。
    </h1>

    <h4 class="about-description">
      ここでは、風景や好きなものの写真を投稿していただけます。 <br>
      旅行が好きな方や、風景が好きな方、 <br>
      他にはカフェやショップなど <br>
      好きなものの写真を皆さんにシェアしてください。 <br>
      <br>
      人の顔がはっきりと映るものに関しては <br>
      こちら運営側により非表示になることがあります。 <br>
      ご了承ください。 <br>
      <br>
      それでは、皆さんの好きなものをお楽しみください！
    </h4>
  </div>

</div>