<div class="container">

  <div class="admin_relationship-following">
    <h2 class="admin_relationship-following-name"><%= @user.name %>'s followings</h2>

    <table class="admin_follow-table">

      <%= render partial: 'list', collection: @users, as: :user %>

    </table>

  </div>
</div>