// Place all the styles related to the admin/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* photos/index */

.admin_photo-index {
  width: 90%;
  text-align: center;

  .admin_photo-index-content {
    width: 100%;
  }
}


/* photos/show */

.admin_photo-show {
  margin: 0 auto;
  padding: 30px;
  width: 80%;
  background-color: #00000040;
  border-radius: 10px;
  font-size: 20px;

  .admin_photo-show-user-link,
  .admin_photo-show-user-link:hover {
    color: #000;
    text-decoration: none;

    .admin_photo-show-user {
      width: 15%;
      margin-bottom: 5px;
      border-radius: 50%;
    }
  }

  .admin_photo-show-image-content {
    width: 100%;
  }

  .admin_field-photo-show {
    width: 90%;
    margin: 5px auto;
  }
  .admin_actions-photo-show-hide,
  .admin_actions-photo-show-open {
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .admin_actions-photo-show-hide {
    background: #AEDD7E;
  }
  .admin_actions-photo-show-open {
    background: #C3F4F8;
  }

  .admin_photo-show-tag-content {
    font-size: 15px;
    background: #ff9522;
    color: #fff;
    padding: 5px 12px;
    border-radius: 0.25rem;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .admin_photo-show-comment {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;

    .admin_photo-show-comment-link,
    .admin_photo-show-comment-link:hover {
      color: #000;
      text-decoration: none;
    }
  }

  .admin_photo-show-comment-btn {
    text-align: right;

    .admin_photo-comment-btn-hide,
    .admin_photo-comment-btn-open {
      width: 25%;
      padding: 5px 0;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .admin_photo-comment-btn-hide {
      background: #AEDD7E !important;
    }
    .admin_photo-comment-btn-open {
      background: #C3F4F8 !important;
    }
  }
}