/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.background {
	background-image: url("background-image.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	padding: 50px 0;
}

.navbar {
	background: #E6FFFD;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {

}

.link-login,
.link-signup,
.link-forget-password {
	background-color: #ffffff85;
}

.signup-name,
.login-name {
	padding: 20px 0px 0px 50px;
	color: #fff;
}

.form-signup,
.form-login {
	margin: 0 auto;
	padding: 20px 0;
	width: 70%;
	background-color: #00000040;
	border-radius: 10px;
	font-size: 20px;
}


.field-signup-table {
	width: 100%;
}

.field-signup-row {
	margin: 10px;
}

.field-signup-title,
.field-login-title {
	height: 70px;
	width: 35%;
	text-align: right;
}

.field-signup-content,
.field-login-content {
    padding-left: 50px;
	width: 65%;

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		height: 40px;
		width: 75%;
		background: rgba(223, 222, 222, 0.81);
		border: 1px solid #000000;
		box-sizing: border-box;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}

.actions-signup {
    margin: 5px 0;
}

.actions-signup-register,
.actions-login-login,
.actions-signup-back,
.actions-login-back {
	border: 2px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.actions-signup-register,
.actions-login-login {
	background: #C3F4F8;
}

.actions-signup-back,
.actions-login-back {
	background: #F2D8D8;;
}

.actions-signup-register,
.actions-signup-back {
	width: 150px;
}

.actions-login-login,
.actions-login-back {
	width: 180px;
}


.links-signup,
.links-login {
	margin: 30px 50px 20px;
    text-align: center;
}

