/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.background {
	background-image: image-url("background-image.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	padding-top: 120px;
    margin-top: -67px;
}

main {
    flex: 1;
}

.navbar {
	background: #b8dde6;
	border-bottom: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	.nav-link,
	.nav-link:hover {
		color: #6f6f6f;
		text-decoration: none;
	}
}

footer {
	background: #d0d0d0;
	color: #fff;
    height: 40px;
    text-align: center;
    padding-top: 7px;
}

.link-login,
.link-signup,
.link-forget-password {
	background-color: #ffffff85;
}

.form-signup,
.form-login {
	margin: 0 auto;
	padding: 20px 0;
	width: 70%;
	background-color: #00000040;
	border-radius: 10px;
	font-size: 20px;

	.signup-name,
	.login-name {
		padding: 20px 0 0 50px;
		color: #fff;
	}

	.field-signup-title,
	.field-login-title {
		height: 60px;
		width: 35%;
		text-align: right;
	}
	.field-signup-content,
	.field-login-content {
	    padding-left: 50px;
		width: 65%;

		input[type="text"],
		input[type="email"],
		input[type="password"] {
			height: 40px;
			width: 75%;
			padding: 0 10px;
			background: rgba(223, 222, 222, 0.81);
			border: 1px solid #000000;
			box-sizing: border-box;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}

	.field-signup-image-show {
		width: 100%;
	}

	.field-signup-image {
		text-align: center;

    	.field-signup-image-btn {
			width: 50%;
			padding: 5px 0;
			margin-top: 95px;
			box-sizing: border-box;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			background: #ddd27e;
		}
		.field-signup-image-hide {
			display: none;
		}
	}

	.actions {
		padding-top: 27px;

		.actions-signup,
		.actions-login {
		    margin: 15px 0;

			.actions-signup-register,
			.actions-login-login,
			.actions-signup-back,
			.actions-login-back {
				box-sizing: border-box;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
			.actions-signup-register,
			.actions-login-login {
				background: #C3F4F8;
			}
			.actions-signup-back,
			.actions-login-back {
				background: #F2D8D8;
			}
			.actions-signup-register,
			.actions-signup-back {
				width: 150px;
			}
			.actions-login-login,
			.actions-login-back {
				width: 180px;
			}
		}
	}
}

.links-signup,
.links-login {
	margin: 30px 50px 20px;
    text-align: center;
}

.about {
	margin: 0 auto;
	padding: 50px 0;
	width: 70%;
	text-align: center;
	background-color: #00000040;
	border-radius: 10px;
	font-size: 20px;

	.about-name,
	.about-description {
		margin: 50px 0;
		color: #fff;
	}
}
